<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPchanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IPchanger.Properties.Settings>
            <setting name="IP1" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="IP2" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="IP3" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="IP4" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Sub1" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="Sub2" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="Sub3" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="Sub4" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="IsGatewayMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GW1" serializeAs="String">
                <value />
            </setting>
            <setting name="GW2" serializeAs="String">
                <value />
            </setting>
            <setting name="GW3" serializeAs="String">
                <value />
            </setting>
            <setting name="GW4" serializeAs="String">
                <value />
            </setting>
            <setting name="DNS1" serializeAs="String">
                <value />
            </setting>
            <setting name="DNS2" serializeAs="String">
                <value />
            </setting>
            <setting name="DNS3" serializeAs="String">
                <value />
            </setting>
            <setting name="DNS4" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAdapter" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
        </IPchanger.Properties.Settings>
    </userSettings>
</configuration>